*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #131313;
    color: white;
    font-family: Arial;
}

div#corpo-form{
    width: 420px;
    margin: 100px auto 0px auto;
}

div#corpo-form h1{
    text-align: center;
    padding: 20px;
    margin-left: 15px;
}

a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover{
    text-decoration: underline;
}
