
 @keyframe modal{
    from{
opacity:0;
transform:translate3d(0,-60px,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}



.mostrar.modal{
 animation:modal .3s;
}

.forms{
   top: 250px;
   align-items: baseline;
   position:relative;

}
.forms input{
   padding: 4px;
   width: 110%;
   border:0px solid black;
   background-color:#747981 ;
}

.forms label{
    border: 2px solid grey;
    background:#747981;
    left: 100px;
    font-size: medium;
    text-align: center;
    text-align-last: inherit;
    position: relative;
    color:black;
}

.forms input[type=file]::-webkit-file-upload-button {
    border: 2px solid grey;
    background:#747981;
    position: relative;
    color:black;
  }


.modal-container{
width:100vw;
height:100vh;
background:rgba(0,0,0,.5);
position:fixed;
top:0px;
left: 0px;
z-index:2000;
display:none;
justify-content:center;
align-items:center;

}
.modal{
 background:#747981;
 width:20%;
 height: 40%;
 min-width:300px;
 padding:40px;
 border:7px solid #747981;
 position:relative;
 border-radius: 5%;
 align-items: center;
}
.fechar{
 font-size:1.2em;
 position:absolute;
 top:20px;
 right:20px;
 width:25px;
 height:25px;
 background:#747981;
 border:4px solid #747981 ;
 color:white;
 cursor:pointer;
}

.modal-container.mostrar{
display:flex;
}


.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background: linear-gradient(45deg, #000000, #317FFF);
    border-radius: 0 0 20px 20px;
}
.seccion-perfil-usuario .perfil-usuario-portadaa {
    display: block;
    position: relative;
    background: linear-gradient(45deg, #000000, #317FFF);
    border-radius: 0 0 20px 20px;
}
.perfil-usuario-avatar-upload{
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    top: 20px;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 2000;   
}


.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}



.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}




/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
    
}


