*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#global{
    display: flex;
    margin: 100px auto;
}
#form_cadastrar {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    background: #1a1922;
    border-radius: 12px;
    color: white;
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    margin-bottom: 20px;
}
.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 20px auto;
}
.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
    width: 50%;
    gap: 5px;
}
.campo {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 4px;
    background: whitesmoke;
    border: 2px solid rgb(207, 207, 207);
    font-size: 1rem;
}
.content input[type="radio"] {
    width: 20px;
    height: 20px;
}

.radio {
    width: 50%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 10px auto;
    font-weight: 900;
}
.user {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}
.adm {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}


.title-radio {
    font-size: 1.5rem;
}



.btn {
    width: 50%;
    height: 50px;
    padding: 10px;
    font-size: 1.2rem;
    background: rgb(20, 80, 220);
    border: none;
    border-bottom: 5px solid rgb(18, 67, 180);
    border-radius: 4px;
    font-family: "Raleway";
    color: white;
    font-weight: 900;
    cursor: pointer;
    transition: 300ms ease;
}
.btn:hover {
    background: rgb(18,67,180);
    border-bottom: 5px solid rgb(16, 57, 151);
}

@media (max-width: 800px) {
    #form_cadastrar {
        width: 90%;
    }
    .group {
        width: 80%;
    }
    .btn {
        width: 80%;
    }
}

