@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.global {
    display: flex;
}

.conteudo {
    width: 50%;
    height: auto;
    display: flex;
    background: #1a1922;
    padding: 2% 20px;
    margin: 10vh auto;
    border-radius: 4px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.274);
    align-items: center;
}
.conteudo .img-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:transparent;
}
.conteudo .divis {
    width: 1px;
    height: 100%;
    background: white;
    margin: auto 10px auto 10px;
}
.conteudo .info {

    width: 100%;
    height: auto;
    color: white;
    padding: 10px;
    font-family: 'Raleway';
    border-radius: 4px;
}
.conteudo .info h3 {
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 15px;

}
.conteudo .info h5 {
    margin: 3px 5px 15px;
    font-weight: 900;
}