@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    outline: none;
}

#global{
    display: flex;
}

#chat{
    width: 30%;
    height: 550px;
    background-color: #ffffff;
    border-right: 3px solid black;
}

#conteudo{
    width: 70%;
    max-height: 90vh;
    background-color: #ffffff;
    overflow-y: scroll;

}