*{
    padding: 0px;
    margin: 0px;
}

.header li,.header a,.header button{
    font-family: "Fredoka One", cursive;
    font-weight: 500;
    font-size: 16px;
    color: #e9ebf5;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #1a1922;
    
}

.logo{
    cursor: pointer;
    margin-right: auto;
    width: 180px;
    height: 60px;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 10px 20px;
    
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #30508b;
}

.header button{
    padding: 9px 25px;
    background-color: rgb(17, 49, 87, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
}

.header button:hover{
    background-color: rgb(17, 49, 87, 0.6);
}
