.div_principal {
    width: 100%;
    height: auto;
    padding: 20px 0%;
    background: transparent;
    margin-top: 130px;
    margin-bottom: 130px;
    font-family: "Raleway";
    display: flex;
    justify-content: space-around;
}
.div_principal p {
    max-width: 250px;
    font-weight: 400;
    margin-left: 20px;
    animation: text 700ms;
}
.div_principal h1 {
    max-width: 300px;
    animation: text 700ms;
}

@keyframes text {
    0% {
        color: transparent;
    }
    100% {
        color: black;
    }
}


