@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Quicksand:wght@300&family=Rubik:wght@300&display=swap');


*{
    padding: 0px;
    margin: 0px;
    outline: none;
}
a {
    text-decoration: none;
}
#global{
    display: flex;
    flex-direction: column;
}
#section {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1a1922;
    margin: 20vh auto;
    font-family: "Nunito";
}
#section .titulo {
    color: white;
    font-size: 1.7rem;
    text-align: center;
}
#box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card {
    width: 25%;
    height: auto;
    background: white;
    border-radius: 12px;
    box-shadow: 4px 2px 4px 4px rgba(0, 0, 0, 0.397);
    word-break: keep-all;
    border: 2px solid white;
}
.card .img {
    max-width: 100%;
    cursor: pointer;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card .title {
    margin: 10px;
    color: black;
    font-family: "Nunito";
    font-weight: 900;
    font-size: 17px;
}
.card .data {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    font-weight: 660;
}
#popup {
    z-index: 9000;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.712);
    display: none;
}
#popup.visivel {
    display: block;
    animation: a 300ms;
}
@keyframes a {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 1024px) {
    #box {
        flex-direction: column;
        gap: 100px;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 80%;
    }
    
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .box .link {
        min-width: 100%;
    }

}
.firts {
    margin-top: 10vw;
    padding: 20px;
    font-family: "Raleway";
    font-weight: 900;
}
.firts .titulo {
    text-align: center;
    font-size: 2rem;
}
.box {
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}

.box .link {
    width: 28%;
    min-height: 350px;
    display: flex;
}
.box .link .camp {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #1a1922;
    padding: 10px;
    border-radius: 12px;
    color: white;
    justify-content: space-between;
}
.div-title .img {
    max-width: 100%;
    cursor: pointer;
    max-height: 100%;
    border-radius: 4px;
}
.div-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}
.div-date {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: .9rem;
}