@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    outline: none;
}

/*===============INDROTUÇÃO =================*/

#indroducao{
    display: flex;
    justify-content: space-around;
    margin: 140px auto;
}

.bem_vindo{
    width: 30%;
    height: auto;
    margin: 20px 20px 10px 10px;
    font-family: 'Raleway';
    color: rgb(15, 15, 15);
    text-align: justify;
}

.bem_vindo h1{
    font-weight: border;
    animation: teste 1s ease;
}

.bem_vindo p{
    text-align: justify;
    font-weight: bold;
    animation: teste 2s linear;
}

@keyframes teste {
    0% {
        color: transparent;
        margin-top: -10px;
    }
    100% {
        color: rgb(15, 15, 15);
    }
}

.formulario{
    display: block;
    width: 40%;
    text-align: center;
    height: auto;
    margin: 20px 10px 10px 20px;
    background-color: rgb(23, 26, 31);
    color: #e9ebf5;
    border-radius: 12px;
    font-family: 'Raleway';
    padding: 10px;
    animation: formu 2s linear;
}


@keyframes formu {
    0% {
        color: transparent;
    }
    100% {
        color: #e9ebf5;
    }
}


.formulario h1{
    text-align: center;
}

.formulario input{
    display: block;
    margin: 15px auto;
    height: 30px;
    width: 60%;
    transition: all 0.3s ease-in-out 0s;
}

.formulario input[type="text"], .formulario input[type="password"]{
    background: transparent;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
}

.formulario input[type="text"]:focus, .formulario input[type="password"]:focus{
    background-color: white;
    color: black;
}

.formulario input[type="submit"]{
    width: auto;
    padding: 0 20px;
    border-radius: 10px;
    color: #e9ebf5;
    background-color: #294270;
    border: none;
    cursor: pointer;
}

.formulario input[type="submit"]:hover{
    background-color: #1e2f50;
}

.formulario a{
    display: block;
    margin: 5px auto;
    text-align: center;
    color: #e9ebf5;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.formulario a:hover{
    color: #a6c5ff;
}

.formulario .erromsg {
    color: rgb(172, 30, 30);
    font-weight: 900;
}

@media (max-width: 1020px) {
    #indroducao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .formulario {
        width: 60%;
    }
    .bem_vindo {
        width: 60%;
    }
}