<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style_rodape.css">
    <link rel="shortcut icon" href="./ASSETS/polo_icon.png" type="image/x-icon">
</head>
<body>
    <footer id="final">
        <img src="../ASSETS/polo_logo_white@2x.png">
        <ul>
            <li><a href="">Contato</a></li>
            <li><a href="">Reclamações</a></li>
            <li><a href="">Suporte</a></li>
        </ul>
        <span>&copy;Copyright POLO-2021</span>
    </footer>
</body>
</html>